
.homePageText{
    padding: 0px 15px;
    width: 70vw;
    margin: auto;
    text-align: center;
}

h1{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 156.7%;
    color: #292929;
    }

.homePageText p{

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 156.7%;
color: #292929;
    }

.featuredProduct{
    width: 80vw;
    margin: auto;
}

.featuredProduct h3{
   

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 65px;
/* identical to box height */


color: #333333;
}

.featuredProduct .product{
    display: flex;
    padding: 20px 0px;
}


.featuredProduct .product:nth-child(3){
    display: flex;
    padding: 20px 0px;
    flex-direction: row-reverse;
}

.product-img{
    max-width: 100%;
    width: 600px;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}

.product .product-text{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    
}

.featuredProduct .product:nth-child(3) .product-text{
    margin-right: 20px;
    margin-left: 0;
}

.product-text h3{
  
font-family: 'STIX Two Text';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 50px;
color: #333333;
margin-bottom: 20px;
}

.product-text p{

font-family: 'STIX Two Text';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */
color: #333333;
}

.peopleimage img:nth-child(n + 2){
    font-size: 2000px;
}