
.homePageText{
    padding: 0px 15px;
    width: 70vw;
    margin: auto;
    text-align: center;
}

h1{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 156.7%;
    color: #292929;
    }

.homePageText p{

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 156.7%;
color: #292929;
    }

.featuredProduct{
    width: 80vw;
    margin: auto;
}

.featuredProduct h3{
   

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 65px;
/* identical to box height */


color: #333333;
}

.featuredProduct .product{
    display: flex;
    padding: 20px 0px;
}

@media screen  and (max-width : 500px) {
    .featuredProduct .product{
        flex-direction: column;
    }

    .featuredProduct .product:nth-child(3){
        display: none;
    }
        
    .product-img{
        max-width: 100%;
        width: 400px;
        height: 250px;
        object-fit: cover;
        object-position: bottom;
    }
    
    
}

.featuredProduct .product:nth-child(3){
    display: flex; 
    padding: 20px 0px;
    flex-direction: row-reverse;
}

.product-img{
    max-width: 100%;
    width: 60vw;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}

.product .product-text{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.featuredProduct .product:nth-child(3) .product-text{
    margin-right: 20px;
    margin-left: 0;
}

.product-text h3{
  
font-family: 'STIX Two Text';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 50px;
color: #333333;
margin-bottom: 20px;
}

.product-text p{

font-family: 'STIX Two Text';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */
color: #333333;
margin-bottom: 20px;
}

.peopleimage img:nth-child(n + 2){
    display: inline-block;
    margin-left: -20px;
}


.product .prodcutarrow{
    border: 1px solid #333333;
    border-radius: 50%;
    padding: 15px;
    vertical-align: super;
}

.product .arrowicon{
    display: inline-block;
    width: 20px;
}

.product .imageText{

font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 32px;
vertical-align: super;
color: #333333;
margin: 0px 20px;
}


.upcomingAuction{
    background: linear-gradient(99.99deg, #4693ED -26.21%, #79C2D2 22.16%, rgba(192, 86, 9, 0.49) 111.62%);
    color: white;
}

.upcomingAuction .container{
    width: 80vw;
    margin: auto;
    padding: 20px 0;
}

.upcomingAuction .container h3{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.pageslink{
    display: flex;
}

